@charset "UTF-8";
/* CSS Document */

body{padding:0 0;margin:0 0;font-size:20px!important;font-family:'MicrosoftJhengHeiUIBold';}
img{width:auto;height:auto;float:left;}
h1,h2,h3,h4,h5,h6,h7,h8{font-weight:normal!important;letter-spacing:1px;}
.row{padding:0  0!important; margin:0 0!important;}
.container-fluid{padding:0  0!important; margin:0 0!important;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding:0px!important;}

.outline{width:100%;height:auto;float:left;}
.outblock{width:1280px; height:auto;display:block;margin:0 auto;}

/*Header 開始*/
.header-bg{background:#0057a1;width:100%;height:90px;position:fixed;z-index:9999;box-shadow:0 2px 0 0 #024a88;}
.header-logo{width:231px;height:90px;float:left;}
.header-block{float:right;line-height:90px;transition:all 0.3s;}
.header-menu{color:white;text-align:center;text-decoration:none!important;font-size:22px;float:right;}
.header-menu:hover{color:#fff000;}
.header-menu:active{color:#fff000;}

.header-menu>img{float:right;border:2px solid white;box-sizing:border-box;border-radius:5000000px;margin:20px 0;}
/*Header 結束*/

/*Banner 開始*/
.banner-block{margin-top:90px;}
/*Banner 結束*/


/*內容 開始*/
.index-bg{width:100%;height:auto;max-height:1872px;background:url("../images/index/index-bg.png");background-position:top;background-size:cover;background-attachment:fixed;}
/*內容 結束*/

/*about 開始*/
.main-block{width:100%;height:auto;float:left;}
.main-block.about{height:auto;padding-top:60px!important;padding-bottom:130px!important;}
.main-block.about img{display:block; margin:0 auto;}
.main-blue-block{width:auto;height:auto;background:rgba(0,87,161,0.05);border:1px solid rgba(0,87,161,0.5);display:block;padding-top:45px;padding-bottom:45px;}
.main-blue-block.about{width:950px;margin:0 auto;margin-top: 45px;padding-left:25px;padding-right:25px;}
.main-blue-block.product{width:1025px;margin:0 auto;margin-top: 45px;padding-left:95px;padding-right:60px;background:url("../images/index/index-product-main-bg.png") no-repeat;padding-bottom:120px;}

.word{text-align:center;line-height:40px;display:block;color:#333333;}
.though-block{width:100%;height:128px;display:block;margin-top: 45px;padding:0 25px 0 25px;}
.though-block-slogan{width:auto;height:128px;float:left;}
.though-block-slogan>div{width:128px;height:128px;float:left;margin-right:25px;background:#0057a1;color:white;text-align:center;font-size:40px;border:1px solid #024177;box-sizing:border-box;line-height:50px;padding-top:10px;}
.though-block-slogan>div:nth-last-child(1){margin-right: 0px;}
.though-block-word{width:auto;height:128px;float:right;text-align:left;line-height:47px;}
/*about 結束*/

/*廣告 開始*/
.index-adv-bg{width:100%;height:auto;max-width:1920px;min-height:250px;background:url("../images/index/index-adv-bg.png") no-repeat;background-size:cover;padding:45px 0;pbackground-position:center;}
.index-adv-bg>div{padding-left:150px;}
.index-adv-bg span {font-size:30px;color:white;text-align: left;display:block; letter-spacing:1px;line-height:30px;}
.index-adv-bg span:nth-child(2){font-size:25px;color:rgba(255,255,255,0.5);line-height:40px;margin-bottom:40px;}
.more-btn{width:120px;height:45px;float:left; border:1px solid white;box-sizing:border-box;color:white;padding:0 15px;text-decoration:none;line-height:45px;background-color:none;}
.more-btn.blue{border:1px solid #0057a1;color:#0057a1;text-decoration:none;}
.more-btn>img{width:auto;height:auto;display:inline-block;float:right;position:relative;transform:translateY(-50%);top: 50%;}

.more-btn.purchase{text-decoration:none;margin-top:30px;color:white;}
/*廣告 結束*/

/*產品 開始*/
.main-blue-block.product>img{margin-right:70px;}
.main-blue-block.product>h5{line-height:40px;}
/*產品 結束*/

/*Footer 開始*/
.footer-bg{background:#0057a1;height:auto;padding-top:105px;}
.footer-detail-block{float:left;width:100%; height:310px;border-bottom:1px solid white;}
.footer-detail-logo{float:left;width:175px;height:70px;}
.footer-detail-word{float:left;color:white;line-height:30px;margin-top:20px;}
.footer-bg h5>span{margin-top:50px;float:left;}
.footer-menu-tittle{font-size:26px;color:#fff000;float:left;}
.footer-menu-tittle:hover{color:#fff000;text-decoration:none;}
.footer-menu-word{width:100%; float:left;margin-top:10px;margin-bottom:10px;color:rgba(255,255,255,0.80);}
.footer-menu-word:hover{color:white; text-decoration: none;}
.footer-menu-word.head{margin-top:40px;}
.footer-menu-word.foot{margin-bottom:0px;}
	/*copyright 開始*/
	.cr-block{width:100%;height:60px;float:left;}
	.cr-block-main{font-size:15px;color:white;float:left;line-height:60px;letter-spacing:1px;}
	.cr-block-social-icon{width:auto;height:60px;float:right;}
	/*copyright 結束*/
/*Footer 結束*/

